extends baseEmail

block emailContent
  p Hi,
    p
      | Someone (hopefully you) has requested a password reset for your Fashion Hunter account. 
      | Follow the link below to set a new password:
    table.btn.btn-primary(role="presentation", border="0", cellpadding="0", cellspacing="0")
      tbody
        tr
          td(align="left")
            table(role="presentation", border="0", cellpadding="0", cellspacing="0")
              tbody
                tr
                  td
                    a(href="http://htmlemail.io", target="_blank") Click here to reset!!
    p
      | If you don't wish to reset your password, disregard this email and no action will be taken.

    p The Fashion Hunter Team