extends baseEmail

block emailContent
  p Hola,
    p
      | Alguien (esperamos que tu) ha hecho una solicitud para cambiar la contraseña en su cuenta de Fashion Hunter.
      | Por favor, sigue el link de abajo para proceder con el cambio:
    table.btn.btn-primary(role="presentation", border="0", cellpadding="0", cellspacing="0")
      tbody
        tr
          td(align="left")
            table(role="presentation", border="0", cellpadding="0", cellspacing="0")
              tbody
                tr
                  td
                    a(href=`http://htmlemail.io//${token}`, target="_blank") Click here to reset!!
    p
      | Si tu no hiciste esta solicitud, por favor ignora este correo.

    p The Fashion Hunter Team.